<div class="content">
    <input type="date">
    <input type="date">
        <button class="btn btn-info" type="button" 

                onclick="location.href='@Url.Action("AllStats", "Home")'">GetStats</button>
</div>



